.news-list-container {
  height: calc(100vh - 108px);
}

.news-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.loading-indicator {
  text-align: center;
  padding: 10px;
}

.news-list_wrapper {
  padding: 0 238px;
}

@media screen and (max-width: 1919px) and (min-width: 1024px) {
  .news-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) and (max-width: 1919px) {
  .news-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 375px) and (max-width: 1023px) {
  .news-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
